* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #E3E3E3;
}

header {
    background-image: url("hogwarts.jpg");
    background-attachment: fixed;
    background-position: 0 -180px;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    padding: 60px 50px;
}
nav ul li {
    float: right;
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li {
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
    text-decoration: none;

}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.slogan {
    margin-top: 50px;
    text-align: center;
}

.slogan .emphasis  {
    font-style: italic;
    font-wieght: bold;
}

.slogan .advertisment {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 40px;
}

.slogan .sign-up-form {
    background-color: #fff;
    border: 1px solid #740303;
    margin: 0 auto;
    width 300px; 

}

.slogan .sign-up-form input {
    border: none;
    box-sizing: border-box;
   ;padding: 10px;
} 

.slogan .sign-up-form input[type="text"] {
    float: left;
    outline: none;
}
   
.slogan .sign-up-form input[type="submit"] {
    background-color: #740303;
    color: #fff;
    float: right;
}

    

